/* ABOUT US */
.about-section {
    width: inherit;
    height: fit-content;
    margin: 0px 0px 100px 0px;
}
.about-container p {
    text-align: justify;
    margin: 0px 0 50px 0;
}
@media (max-width: 768px) {
    .about-section {
        padding: 15px;
    }
}